<div class="Portfolio container pb-5">
  <h1 class="text-light">Portfolio</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
    <div class="col" *ngFor="let portfolioItem of portfolioList">
      <div class="card pb-sm">
        <img
          src="assets/img/portfolio/kia-web-principal-slide-1.jpg"
          class="card-img-top img-fluid"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
