$color_light: #c8d7e4;
$color_gray: #919191;
.Brands {
  padding: 60px 0 40px 0;
  font-family: Karla;
  &__icon {
    color: $color_gray !important;
    text-align: center;
    margin-bottom: 30px;
  }
  &__item {
    margin: 0 auto;
    padding: 20px 0;
    img {
      max-width: 100%;
      width: auto;
    }
    p {
      color: $color_light;
    }
  }
}
