<div class="Brands bg-dark">
  <div class="container">
    <div class="Brands__list">
      <div class="row justify-content-md-center">
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-kia.png" class="card-img-top" alt="Kia Perú">
            <p>Kía Perú</p>
          </div>
        </div>
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-safetypay.png" class="card-img-top" alt="Safetypay">
            <p>Pasarela de pago Safetypay</p>
          </div>
        </div>
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-grupo-larepublica.png" class="card-img-top" alt="Grupo La República">
            <p>Grupo La República Digital</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-guarana.png" class="card-img-top" alt="Guaraná Backus">
            <p>Guaraná Backus</p>
          </div>
        </div>
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-wong.png" class="card-img-top" alt="Wong">
            <p>Wong</p>
          </div>
        </div>
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-fiat.png" class="card-img-top" alt="Fiat Perú">
            <p>Fiat Perú</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md">
          <div class="Brands__item text-center">
            <img src="./assets/img/brands/logo-vizzio.png" class="card-img-top" alt="Chocolates Vizzio">
            <p>Chocolates Vizzio</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
